.alertify-notifier.ajs-right .ajs-message.ajs-visible {
    right: 310px;
    width: 245px;
    margin-bottom: 10px;
}
.alertify-notifier .ajs-message.ajs-success {
    background: #1a191891;
    padding: 30px;
}
.alertify-notifier .ajs-message.ajs-success a {
    color: #ffffff;
    text-decoration: none;
}